$montserrat-font: "Montserrat", "Arial", sans-serif;
$base-black: #333333;
$base-primary: #7859cf;
$base-secondary: #f0ebff;
$base-grey: #bdbdbd;
$base-white: #ffffff;
$lightest-grey: #f8f8f8;
$flat-white:#f3ebe1;
$lavender-latte: #eae6fc;
$espresso: #e5e6e8;
$light-grey: #e2e2e2;
$primary-lighter: #9070ec;
$primary-opacity: rgba(120, 89, 207, 0.25);
$primary-darker: #593cac;
$display: block;
$pos: absolute;
$content: "";
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
