.advantages {
  text-align: center;
  background-color: $base-white;
  min-height: 902px;
}

.advantages__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  padding: 0 10px;
}

.advantages__text {
  margin-top: 4px;
}

.advantages__list {
  @include list;
  padding-top: 36px;
}

.advantages__item {
  min-height: 142px;
  margin-bottom: 32px;
}

.advantages__item-title {
  font-size: 18px;
  line-height: 32px;
  position: relative;
  padding-top: 66px;
  margin: 0;

  @media (min-width: $tablet-width) {

  }

  @media (min-width: $desktop-width) {

  }
}

.advantages__item-title--speed::after {
  @include pseudo;
  background-image: url("../../images/icons/icon-speed.svg");
  background-repeat: no-repeat;
  width: 52px;
  height: 56px;
  left: 115px;
  top: 0;

  @media (min-width: $tablet-width) {
  }
}

.advantages__item-title--fit::after {
  @include pseudo;
  background-image: url("../../images/icons/icon-fit.svg");
  background-repeat: no-repeat;
  width: 52px;
  height: 56px;
  left: 115px;
  top: 0;

  @media (min-width: $tablet-width) {
  }
}

.advantages__item-title--energy::after {
  @include pseudo;
  background-image: url("../../images/icons/icon-energy.svg");
  background-repeat: no-repeat;
  width: 52px;
  height: 56px;
  left: 115px;
  top: 0;

  @media (min-width: $tablet-width) {
  }
}

.advantages__item-title--eco::after {
  @include pseudo;
  background-image: url("../../images/icons/icon-eco.svg");
  background-repeat: no-repeat;
  width: 52px;
  height: 56px;
  left: 115px;
  top: 0;

  @media (min-width: $tablet-width) {
  }
}

.advantages__container {
  padding-top: 50px;
}

