.catalog__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }
}

.catalog__sorting {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin-bottom: 30px;
  }
}

.catalog__select {
  color: $base-primary;
  font-family: $montserrat-font;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  width: 165px;
  border: none;
  min-height: 32px;
  background-image: url("../../images/icons/stack.svg#icon-pagination-arrow");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: bottom 50% right 7px;
  padding-right: 27px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  padding-left: 13px;

  @media (min-width: $tablet-width) {
    padding: 8px 0 0 10px;
    background-position: 145px 15px;
  }
}

.catalog__list {
  @include list;
  min-height: 2620px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 349px 349px;
    row-gap: 30px;
    column-gap: 30px;
    min-height: unset;
    margin-bottom: 69px;
  }
}

.catalog__item-title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 0 20px;
  color: $base-black;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    padding: 1px 30px;
  }
}

.catalog__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-left: 18px;
  padding-top: 3px;

  @media (min-width: $tablet-width) {
    margin-left: 28px;
    padding-top: 2px;
  }
}

.catalog__button {
  font-family: $montserrat-font;
  color: $base-white;
  background-color: $base-primary;
  border: none;
  min-height: 36px;
  min-width: 141px;
  border-radius: 4px;
  padding-left: 36px;
  padding-right: 10px;
  position: relative;
  cursor: pointer;
}

.catalog__button::before {
  @include pseudo;
  background-image: url("../../images/icons/icon-basket-plus.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
  top: 10px;
  left: 20px;
}

.catalog__pagination-list {
  @include list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 170px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    gap: 20px;
    width: 180px;
  }
}

.catalog__pagination-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin-bottom: 85px;
  }
}

.catalog__container {
  min-height: 3760px;
  padding-top: 50px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    min-height: unset;
  }
}

.catalog__item {
  margin-bottom: 20px;
  background-color: $base-white;
  min-height: 420px;

  @media (min-width: $tablet-width) {
    padding-bottom: 30px;
    margin-bottom: 0;
  }
}

.catalog__picture-wrapper {
  padding: 40px 65px 0 65px;
  margin: 10px 10px;

  @media (min-width: $tablet-width) {
    padding: 40px 99px 0;
  }
}

.catalog__text {
  margin: 5px 20px 15px;
  color: $base-black;

  @media (min-width: $tablet-width) {
    margin: 9px 30px 20px;
  }
}

.catalog__pagination-link {
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  color: $base-primary;
  font-size: 16px;
  line-height: 40px;
}

.catalog__pagination-link--current {
  font-weight: 600;
  color: $base-black;
}

.catalog__pagination-item {
  width: 40px;
  height: 40px;
  background-color: $base-white;
  border-radius: 4px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.catalog__pagination-item {
  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.catalog__pagination-item--current {
  background-color: transparent;
}

.catalog__pagination-button {
  width: 40px;
  height: 40px;
  background-color: $base-white;
  border-radius: 4px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    transform: unset;
    width: unset;
    margin-left: 20px;
  }
}

.catalog__pagination-prev {
  width: 10px;
  height: 10px;
  border: none;
  background-color: inherit;
  transform: rotate(90deg);
  cursor: pointer;
  padding: 0;
  margin: 15px 13px 15px 17px;

  @media (min-width: $tablet-width) {
    transform: unset;
    width: 71px;
    margin: 8px 10px;
  }
}

.catalog__pagination-next {
  width: 10px;
  height: 10px;
  border: none;
  background-color: inherit;
  transform: rotate(270deg);
  cursor: pointer;
  padding: 0;
  margin: 15px 17px 15px 13px;

  @media (min-width: $tablet-width) {
    transform: unset;
    width: 84px;
    margin: 8px 10px;
  }
}

.catalog__pagination-svg {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog__range-wrapper {
  height: 24px;
  padding-top: 30px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.catalog__price-input {
  padding: 8px 10px;
  width: 118px;
  height: 40px;

  font-family: $montserrat-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  border: 2px solid $primary-lighter;
  border-radius: 4px;
  appearance: textfield;

  @media (min-width: $tablet-width) {
    width: 87px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }
}

.catalog__price-input::-webkit-outer-spin-button,
.catalog__price-input::-webkit-inner-spin-button {
  appearance: none;
}

.catalog__price-input:not(:disabled):hover,
.catalog__price-input:not(:disabled):focus-visible {
  border-color: $primary-darker;
  outline: none;
}

.catalog__price-input:disabled {
  background-color: $lightest-grey;
  border-color: $light-grey;
  color: $base-grey;
}

.catalog__price-input::placeholder {
  color: $base-grey;
}

.catalog__number-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 30px;
}

.catalog__number-wrapper::after {
  @include pseudo;
  top: 20px;
  left: 136px;
  width: 8px;
  height: 2px;
  background-color: $base-grey;

  @media (min-width: $tablet-width) {
    left: 107px;
  }

  @media (min-width: $desktop-width) {
    width: 10px;
    left: 154px;
  }
}

.catalog__filter-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 223px 222px 223px;
    gap: 30px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 318px;
    margin-top: 4px;
  }
}

.catalog__filter-list {
  @include list;
}

.catalog__subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.catalog__price-container {
  margin-top: 20px;
}

.catalog__sorting-title {
  padding-left: 3px;

  @media (min-width: $tablet-width) {
    padding: 8px 11px 0 0;
  }
}

.catalog__basket-container {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 319px;
  }
}

.catalog__pagination-item:first-child {
  margin-left: 5px;
}

.catalog__pagination-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: unset;
    font-size: 16px;
    line-height: 24px;
    color: $base-primary;
    font-family: $montserrat-font;
  }
}
