.contacts {
  min-height: 223px;
}

.contacts__container {
  border-bottom: 1px solid $base-secondary;
  min-height: 116px;
}

.contacts__text {
  font-style: normal;
  position: relative;
  padding: 8px 5px 10px 19px;
}

.contacts__text::before {
  @include pseudo;
  background-image: url("../../images/icons/icon-address.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 16px;
  top: 10px;
  left: 0;
}

.contacts__phone {
  color: $base-black;
  display: inline-block;
  padding: 6px 5px 20px 19px;
  position: relative;
}

.contacts__phone::before {
  @include pseudo;
  background-image: url("../../images/icons/icon-phone.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 16px;
  top: 8px;
  left: 0;
}

.contacts__logo {
  min-height: 66px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 3px;
}

.contacts__logo-text {
  font-size: 12px;
  line-height: 16px;
  color: $base-grey;
  width: 91px;
  min-height: 16px;
}

.contacts__logo-link {
  display: inline-block;
}
