.contacts__container {
  border-bottom: 1px solid $base-secondary;
  min-height: 116px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 15px;
  }
}

.contacts__text {
  font-style: normal;
  position: relative;
  padding: 8px 5px 10px 19px;

  @media (min-width: $tablet-width) {
    width: 220px;
  }

  @media (min-width: $desktop-width) {
    width: unset;
  }
}

.contacts__text::before {
  @include pseudo;
  background-image: url("../../images/icons/icon-address.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 16px;
  top: 10px;
  left: 0;
}

.contacts__phone {
  color: $base-black;
  display: inline-block;
  padding: 6px 5px 20px 19px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 220px;
  }
}

.contacts__phone::before {
  @include pseudo;
  background-image: url("../../images/icons/icon-phone.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 16px;
  top: 8px;
  left: 0;
}

.contacts__logo {
  min-height: 66px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 3px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: unset;
    padding-bottom: 40px;
  }
}

.contacts__logo-text {
  font-size: 12px;
  line-height: 16px;
  color: $base-grey;
  width: 91px;
  min-height: 16px;
}

.contacts__logo-link {
  display: inline-block;
}

.contacts__box {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 223px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 317px;
    padding: 0;
  }
}
