.hero {
  font-family: $montserrat-font;
  text-align: center;
  position: relative;
}

.hero__price {
  line-height: 32px;
}

.hero__title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  width: 280px;
  margin: 0 auto;
}

.hero__price-old {
  font-size: 16px;
  color: $base-primary;
  text-decoration: line-through;
  margin-left: 25px;
}

.hero__price-new {
  font-size: 20px;
  font-weight: 600;
}

.hero__slider-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}

.hero__page {
  width: 62px;
  height: 4px;
  border: none;
  background-color: $base-white;
  transform: translateY(-60px);
  opacity: 1;
}

.hero__page--active {
  background-color: $base-primary;
}

.hero__pages {
  display: none;

  @media (min-width: $desktop-width) {
    display: unset;
  }
}

.hero__slider-view {
  display: none;
  min-height: 656px;
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: $flat-white;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 0;
    min-height: 828px;
    background: linear-gradient(to top, $base-white 188px, $flat-white 188px);
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 84px;
    min-height: 714px;
    background: $flat-white;
  }
}

.hero__slider-white {
  display: block;
}

.hero__slider-lavender {
  background-color: $lavender-latte;

  @media (min-width: $tablet-width) {
    background-color: linear-gradient(to top, $base-white 188px, $lavender-latte 188px);
  }

  @media (min-width: $desktop-width) {
    background-color: $lavender-latte;
  }
}

.hero__slider-black {
  background-color: $espresso;

  @media (min-width: $tablet-width) {
    background-color: linear-gradient(to top, $base-white 188px, $espresso 188px);
  }

  @media (min-width: $desktop-width) {
    background-color: $espresso;
  }
}

.hero__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  width: 20px;
  min-height: 714px;
  padding: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 80px;
  }

  &:disabled svg {
    fill: $base-grey;
  }
}

.hero__arrow:disabled {
  cursor: default;
}

.hero__arrows-right {
  transform: rotate(180deg);
  fill: $base-primary;
}

.hero__arrows-left {
  fill: $base-primary;
}

.hero__arrow--left {
  left: 0;
}

.hero__arrow--right {
  right: 0;
}

.hero__arrow--left:not(:disabled):hover,
.hero__arrow--left:not(:disabled):focus-visible {
  @media (min-width: $tablet-width) {
    background: linear-gradient(90deg, $base-white 0%, rgba(255, 255, 255, 0) 100%);
  }
}

.hero__arrow--left:not(:disabled):active {
  @media (min-width: $tablet-width) {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }
}

.hero__arrow--right:not(:disabled):hover,
.hero__arrow--right:not(:disabled):focus-visible {
  @media (min-width: $tablet-width) {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $base-white 100%);
  }
}

.hero__arrow--right:not(:disabled):active {
  @media (min-width: $tablet-width) {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0) 0%, rgba(120, 89, 207, 0.25) 100%);
  }
}

.hero__container {
  min-height: 656px;
  overflow: hidden;
}

.hero__slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.hero__slider {
  position: relative;
}

.hero__link {
  color: $base-white;
  background-color: $base-primary;
  min-height: 40px;
  width: 113px;
  display: inline-block;
  border-radius: 4px;
  padding: 8px 20px;
  margin-right: 25px;
}

.hero__slider-price {
  display: flex;
  align-items: center;
  min-height: 40px;
  justify-content: space-between;
  margin: 0 auto 60px auto;
  width: 320px;
  padding: 0 20px;
}

.hero__text {
  margin-top: 10px;
  margin-bottom: 20px;
}
