.hero {
  font-family: $montserrat-font;
  text-align: center;
  position: relative;
}

.hero__price {
  line-height: 32px;
}

.hero__title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  width: 280px;
  margin: 0 auto;
  letter-spacing: 0.02em;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    width: 608px;
    margin: 0 auto 16px;
  }

  @media (min-width: $desktop-width) {
    width: 625px;
    margin: 0;
    padding-left: 15px;
  }
}

.hero__image-container {
  margin-bottom: 4px;
  min-height: 280px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 146px;
    top: 293px;
    min-height: 476px;
  }

  @media (min-width: $desktop-width) {
    position: unset;
    grid-row: 1/3;
    min-height: 600px;
    padding-left: 50px;
  }
}

.hero__price-old {
  font-size: 16px;
  color: $base-primary;
  text-decoration: line-through;
  margin-left: 25px;
  line-height: 32px;

  @media (min-width: $desktop-width) {
    margin-left: 15px;
    margin-top: 1px;
  }
}

.hero__price-new {
  font-size: 20px;
  font-weight: 600;
  padding-right: 15px;
}

.hero__slider-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}

.hero__page {
  width: 62px;
  height: 4px;
  border: none;
  background-color: $base-white;
  transform: translateY(-60px);
  opacity: 1;
  margin-right: 8px;
  cursor: pointer;
}

.hero__page--active {
  background-color: $base-primary;
}

.hero__pages-container {
  display: none;

  @media (min-width: $desktop-width) {
    display: unset;
    position: relative;
  }
}

.hero__pages {
  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 10px;
    display: flex;
    left: -101px;
  }
}

.hero__slider-view {
  display: none;
  min-height: 656px;
  padding-top: 20px;
  background-color: $flat-white;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 0;
    min-height: 828px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    min-height: 714px;
  }
}

.hero__slider-view--active {
  display: block;
}

.hero__slider-white {
  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $base-white 188px, $flat-white 188px);
  }

  @media (min-width: $desktop-width) {
    background: $flat-white;
  }
}

.hero__slider-lavender {
  background-color: $lavender-latte;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $base-white 188px, $lavender-latte 188px);
  }

  @media (min-width: $desktop-width) {
    background: $lavender-latte;
  }
}

.hero__slider-black {
  background-color: $espresso;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $base-white 188px, $espresso 188px);
  }

  @media (min-width: $desktop-width) {
    background: $espresso;
  }
}

.hero_container {
  position: relative;
}

.hero__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  width: 20px;
  min-height: 656px;
  padding: 0;
  cursor: pointer;
  top: 329px;

  @media (min-width: $tablet-width) {
    width: 80px;
    min-height: 640px;
    top: 321px;
  }

  @media (min-width: $desktop-width) {
    min-height: 714px;
    top: 358px;
  }

  &:disabled svg {
    fill: $base-grey;
  }
}

.hero__arrow:disabled {
  cursor: default;
}

.hero__arrows-right {
  transform: rotate(180deg);
  fill: $base-primary;
}

.hero__arrows-left {
  fill: $base-primary;
}

.hero__arrow--left {
  left: 0;
}

.hero__arrow--right {
  right: 0;
}

.hero__arrow--left:not(:disabled):hover,
.hero__arrow--left:not(:disabled):focus-visible {
  @media (min-width: $tablet-width) {
    background: linear-gradient(90deg, $base-white 0%, rgba(255, 255, 255, 0) 100%);
  }
}

.hero__arrow--left:not(:disabled):active {
  @media (min-width: $tablet-width) {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }
}

.hero__arrow--right:not(:disabled):hover,
.hero__arrow--right:not(:disabled):focus-visible {
  @media (min-width: $tablet-width) {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $base-white 100%);
  }
}

.hero__arrow--right:not(:disabled):active {
  @media (min-width: $tablet-width) {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0) 0%, rgba(120, 89, 207, 0.25) 100%);
  }
}

.hero__slider {
  position: relative;
}

.hero__link {
  color: $base-white;
  background-color: $base-primary;
  min-height: 40px;
  width: 113px;
  display: inline-block;
  border-radius: 4px;
  padding: 8px 20px;
  margin-right: 25px;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    margin-right: 35px;
  }
}

.hero__slider-price {
  display: flex;
  align-items: center;
  min-height: 40px;
  justify-content: space-between;
  margin: 0 auto;
  width: 280px;
  padding-bottom: 60px;

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-bottom: 154px;
  }
}

.hero__text {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 5px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
    width: 608px;
    margin: 0 auto 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 17px 0 0 10px;
  }
}

.hero__text--espresso {
  padding: 0 10px;
}


.hero__slider-container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.hero__description {
  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

