.main-nav__list {
  @include list;
}

.main-nav {
  position: relative;
  background-color: $base-white;
}

@media (max-width: $mobile-width-only) {
  .main-nav--opened {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;
    top: 60px;
  }

  .main-nav--closed {
    display: none;
  }
}
