.main-footer {
  background-color: $base-white;
}

.main-footer__map {
  display: block;
  border: none;
  width: 100%;
}

.main-footer__title {
  font-weight: 700;
  color: $base-primary;
  margin: 0;
  padding: 20px 10px 12px 0;
}

.main-footer__container {
  min-height: 694px;
}
