.main-header {
  text-transform: uppercase;
  background-color: $base-white;
}

.main-header__logo-container {
  position: relative;
  padding: 12px 0 12px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    position: relative;
    width: 174px;
    min-height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    padding: 0;
  }
}

.main-header__toggle {
  height: 16px;
  width: 16px;
  padding: 0;
  background-image: url("../../images/icons/icon-closed.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin: 22px 2px 22px 22px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle--closed {
  display: block;
  background-image: url("../../images/icons/icon-closed.svg");

  @media (min-width: $tablet-width) {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-header__toggle--opened {
    display: block;
    background-image: url("../../images/icons/icon-opened.svg");
  }
}

.main-header__text {
  display: none;

  @media (min-width: $tablet-width) {
    display: unset;
  }
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: fit-content;
}

.main-header__link {
  display: block;
  height: 60px;
  width: 60px;

  &:active {
    background-color: $primary-opacity;
  }

  @media (min-width: $desktop-width) {
    &:hover svg {
      fill: $base-primary;
    }

    &:focus svg {
      fill: $base-primary;
    }

    &:active {
      fill: $base-primary;
    }
  }
}

.main-header__link svg {
  fill: $base-black;
}

.main-header__link-image {
  display: block;
  width: 32px;
  height: 36px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.main-header__nav {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  justify-content: flex-end;
  align-items: center;
  height: fit-content;
}

.main-header__title {
  text-transform: none;
  color: $base-black;
  display: none;

  @media (min-width: $desktop-width) {
    display: unset;
  }
}

.main-header__icon {
  margin: 22px;
}
