.main-header {
  text-transform: uppercase;
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-header__logo-container {
  position: relative;
  padding: 12px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 316px;
    gap: 20px;
  }
}

.main-header__toggle {
  height: 16px;
  width: 16px;
  background-image: url("../../images/icons/stack.svg#icon-closed");
  background-repeat: no-repeat;
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 30px;
  background-size: 16px;
  background-position: center;

  &:active {
    background-color: $primary-opacity;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle--closed {
  display: block;
  background-image: url("../../images/icons/stack.svg#icon-closed");

  @media (min-width: $tablet-width) {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-header__toggle--opened {
    display: block;
    background-image: url("../../images/icons/stack.svg#icon-opened");
  }
}

.main-header__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 4px;
  }
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: fit-content;

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
    width: 320px;
    padding-left: 20px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0 auto;
    width: 768px;
    padding: 0 20px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1360px;
    padding: 0;
  }
}

.main-header__link {
  display: block;
  width: 60px;
  height: 60px;
  color: $base-black;

  &:active {
    background-color: $primary-opacity;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 22px;
    height: 80px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 112px;
    height: 80px;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

    &:hover svg {
      fill: $base-primary;
    }

    &:focus svg {
      fill: $base-primary;
    }

    &:hover {
      color: $base-primary;
    }

    &:focus {
      color: $base-primary;
    }

    &:active {
      fill: $base-primary;
      color: $base-primary;
    }
  }
}

.main-header__link svg {
  fill: $base-black;
}

.main-header__link-image {
  display: block;
  width: 32px;
  height: 36px;

  &:active {
    opacity: 0.2;
  }

  @media (min-width: $tablet-width) {
    width: 82px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}

.main-header__nav {
  display: flex;
  flex-wrap: wrap;
  width: 180px;

  @media (min-width: $tablet-width) {
    width: 120px;
  }

  @media (min-width: $desktop-width) {
    width: 261px;
    gap: 20px;
  }
}

.main-header__title {
  text-transform: none;
  color: $base-black;
  display: none;

  @media (min-width: $desktop-width) {
    display: unset;
    font-size: 12px;
    line-height: 16px;
    width: 126px;
    padding-top: 2px;
  }
}

.main-header__icon {
  margin: 22px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 20px;
  }
}
