.social {
  border-bottom: 1px solid $base-secondary;
}

.social__list {
  @include list;
  display: flex;
  width: 160px;
  min-height: 40px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 6px;
}

.social__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: unset;
  }
}
.social__container {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}

.social__item {
  width: 20px;
  height: 20px;
  margin: 10px;
}
